<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="phonegap-plugin-pwa"
      version="0.0.1">
    <name>phonegap-plugin-pwa</name>

    <dependency id="phonegap-plugin-service-worker" url="https://github.com/phonegap/phonegap-plugin-service-worker" version="^1.0.0" />

    <!-- core plugins -->
    <dependency id="cordova-plugin-network-information" version="^1.3.0" />
    <dependency id="cordova-plugin-geolocation" version="^2.4.2" />
    <dependency id="cordova-plugin-vibration" version="^2.1.4" />

</plugin>
